/* h1{
    text-align: center;
    color: rgb(255, 255, 255);
    border-bottom: solid gold ;
   
} */
body{
   background-image: url(../img/fondoooooo.jpg);
    
}
.fondillu{
    background-image: url(../img/pp.jpg);
}
.fondillos{
    background-image: url(../img/ffff.jpg);
}
.fff{
    background-image: url(../img/vvv.jpg);
}
/* li{
    list-style: none;
    text-decoration: none;
    width: 16em;
    padding-left: .1em;
} */
a{
    font-size: 20px;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
}

section{
margin: 0 auto;
background: burlywood;
width: 30%;
padding: 20px;
border-radius: 10px;
color: black;
font-size: 20px;
}
.cajas{
    border-radius: 10px;
    width: 200px;
    height: 20px;
}
.boton{
color: black;
border-radius: 5px 10px;
font-size: 20px;
    margin: 0 auto;
}
#nav-bar {
    color: white;
   margin: 25px 25px 25px 10px ;
    display: inline-block;
    width: 95%;
    
}
ul{
    
    list-style-type: none;
    font-size: 1.4em;
   
    text-align: center;
    padding-bottom: 30px;
    border: 2px solid darkcyan;
}
li  {
    background-color:rgba(116, 45, 45, 0.555);
    padding: 5px 15px ;
    margin: 4px;
    display: inline-block; 
}
s
a{
    text-decoration: none;
    color: white;
}
h1{
    margin-left: 45%;
    color: white;
}